---
const date = new Date().toLocaleDateString('es-ES', { year: 'numeric'});
---

<footer class="w-full max-w-[1400px] mx-auto text-[0.6rem] md:text-sm px-1 md:px-2 py-1 border-t font-headline flex justify-between items-center bg-transparent ">
    <div class="flex justify-center items-center"><span>© {date} - Todos los derechos reservados.</span></div>
    <div class="flex justify-center items-center"><span class="font-bold">- Dev. Lcdo. Erik Tory -</span></div>
</footer>