---
import ArticleNewspaper from '../reactComponent/ArticleNewspaper';
const articles = await Astro.glob('../articles/*.md');
---

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<section class="h-full w-full flex flex-col items-center justify-center py-2 overflow-hidden">
    <div class="w-full h-full flex flex-col">
        <div class="relative h-full">
            <div class="grid grid-flow-col auto-cols-[100%] md:auto-cols-[50%] h-full overflow-x-auto snap-x snap-mandatory scroll-smooth [scrollbar-width:none] [&::-webkit-scrollbar]:hidden">
                
                {articles.map((post) => (
                    <div class="snap-start w-full h-full bg-transparent border-r border-black/20 flex flex-col p-4 md:p-8 box-border overflow-hidden">
                        
                        <div class="w-full border-b-2 border-black mb-4 pb-2 shrink-0">
                            <h1 class="text-xl md:text-3xl font-serif font-black uppercase text-center tracking-tight leading-none italic">
                                {post.frontmatter.title}
                            </h1>
                        </div>

                        <div class="flex-1 min-h-0 overflow-hidden">
                            <ArticleNewspaper 
                                client:load 
                                articleContent={post.rawContent()} 
                                className="h-full text-justify columns-1 md:columns-2 gap-10 [column-rule:1px_solid_rgba(0,0,0,0.1)]"
                            />
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>