---
---

<div id="body" class="grid grid-cols-8 grid-rows-[auto_auto_1fr] md:grid-rows-[auto_1fr] gap-0 w-full h-full">

    <!-- Box 1: Header (Full Width) -->
    <div id="box1" class="bg-transparent col-span-8 h-16 border border-black flex justify-center items-center"><span class="text-2xl md:text-5xl font-bold">ESTE ES EL TITULAR PRINCIPAL</span></div>

    <!-- Box 2: Left Column (Half Width on Desktop, Full on Mobile) -->
    <div id="box2" class="bg-transparent col-span-8 md:col-span-4 h-[30vh] md:h-full border border-black flex justify-center items-center text-center"><span class="text-5xl font-bold">AQUI VA<br> UNA IMAGEN</span></div>

    <!-- Box 3 & 4: Right Columns (Quarter Width on Desktop, Half on Mobile) -->
    <div id="box3" class="bg-transparent col-span-4 md:col-span-2 h-full border border-black flex flex-col items-center p-4">
        <p class="text-3xl font-bold">AQUI VA<br> OTRA IMAGEN</p><br>
        <p class="text-xl">Parrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellendus facilis deleniti! Similique doloremque suscipit possimus doloribus omnis quisquam eos delectus exercitationem nisi, tenetur officiis praesentium placeat veniam illum expedita.</p>
    </div>

    <div id="box4" class="bg-transparent col-span-4 md:col-span-2 border border-black min-h-[100px]"></div>

    <!-- Hidden Boxes -->
    <div id="box5" class="bg-teal-600 col-span-1 min-h-[100px] border border-black hidden"></div>
    <div id="box6" class="bg-teal-600 col-span-1 min-h-[100px] border border-black hidden"></div>
    <div id="box7" class="bg-teal-600 col-span-1 min-h-[100px] border border-black hidden"></div>
</div>