---
import HeaderNewspaper from './HeaderNewspaper.astro';
import BodyNewspaper from './BodyNewspaper.astro';
import FooterNewspaper from './FooterNewspaper.astro';
---
<div id="newspaper"  class="grid grid-rows-[auto_1fr_auto] min-h-dvh overflow-hidden">

    <HeaderNewspaper />
       
    <BodyNewspaper />
    
    <FooterNewspaper /> 
</div>