---
import Newspaper from './newspaper/astroComponent/Section_Astro_Newspaper/Newspaper.astro';
---
<main 
    id="main" 
    class="grid grid-rows-[auto] mx-auto w-full min-h-dvh bg-cover bg-center bg-no-repeat bg-fixed overflow-x-hidden bg-paper-shadow"
>
    <Newspaper />  
</main>