---
// Main.astro
import Newspaper from './newspaper/astroComponent/Newspaper.astro';
import Proyectos from './proyectos/Proyectos.astro';
---
<main 
    id="main" 
    class="h-dvh overflow-y-auto snap-y snap-mandatory scroll-smooth bg-paper-shadow"
>
    <section class="h-dvh w-full snap-start shrink-0">
        <Newspaper /> 
    </section>

    <section class="h-dvh w-full snap-start shrink-0">
        <Proyectos />
    </section>
</main>