---
import Newspaper from './Newspaper.astro';
import background from '../assets/img/fondo.webp';
---
<main 
    id="main" 
    class="grid grid-rows-[auto] mx-auto w-full min-h-dvh bg-cover bg-center bg-no-repeat bg-fixed overflow-x-hidden"
    style={ `background-image: url(${background.src});`}
>
    <Newspaper />  
</main>