---
import HeaderNewspaper from './newspaper/HeaderNewspaper.astro';
import FooterNewspaper from './newspaper/FooterNewspaper.astro';
---
<div id="newspaper"  class="grid grid-rows-[auto_1fr_auto] min-h-dvh overflow-hidden">

    <HeaderNewspaper />
       
    
    <div id="body-newspaper" class="bg-blue-300">
        <h1>Home</h1>
    </div>
    
    <FooterNewspaper /> 
</div>