---
import HeaderNewspaper from './newspaper/HeaderNewspaper.astro';
---
<div id="newspaper"  class="grid grid-rows-[auto_1fr_auto] min-h-dvh overflow-hidden">

    <div id="header-newspaper">
        <HeaderNewspaper />
    </div>   
    
    <div id="body-newspaper" class="bg-blue-300">
        <h1>Home</h1>
    </div>
    
    <div id="footer-newspaper" class="bg-blue-950">Footer</div> 
</div>