---
import HeaderNewspaper from './newspaper/HeaderNewspaper.astro';
import BodyNewspaper from './newspaper/BodyNewspaper.astro';
import FooterNewspaper from './newspaper/FooterNewspaper.astro';
---
<div id="newspaper"  class="grid grid-rows-[auto_1fr_auto] min-h-dvh overflow-hidden">

    <HeaderNewspaper />
       
    
    <BodyNewspaper />
    
    <FooterNewspaper /> 
</div>